.version.untitled_2 /* version checker */
{
	color: #0000EA;
	background-color: #BE22D5;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1629px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
	width: 0.01px;
}

#u189
{
	z-index: 2;
	width: 236px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 63px;
}

#u189_img
{
	margin-right: -1px;
}

#u160
{
	z-index: 6;
	width: 861px;
	background-color: transparent;
	margin-left: 199px;
	position: relative;
}

#u204
{
	z-index: 8;
	width: 861px;
	background-color: transparent;
	margin-left: 198px;
	margin-top: 448px;
	position: relative;
}

#u191
{
	z-index: 4;
	width: 861px;
	background-color: transparent;
	margin-left: 199px;
	top: -885px;
	margin-bottom: -671px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

