#u174-4
{
	font-family: open-sans-n6, sans-serif;
}

#u175-4
{
	font-family: open-sans-n6, sans-serif;
}

#u176-4
{
	font-family: open-sans-n6, sans-serif;
}

#u177-4
{
	font-family: open-sans-n6, sans-serif;
}

#u209-4,#u218-4,#u99-5,#u118-5,#u230-4,#u333-5,#u334-5,#u297-4
{
	font-family: open-sans-i6, sans-serif;
}

#u178-6,#u226,#u226-3,#u226-4,#u226-6,#u226-7,#u226-9,#u226-10,#u226-12,#u229-4,#u328-4,#u290-4,#u291-5,#u293-14,#u292-5,#u294-22,#u336-6,#u302-4,#u302
{
	font-family: open-sans-n4, sans-serif;
}

