body{
	background-color:black;
	font-family: 'Inconsolata', monospace;
	color:yellow;
	margin-top: 6%;
	text-align:center;
	position: relative;
	font-size: 20px;
    cursor:cell;
}

.lalala{
	opacity: 1;
	position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    transition:0.5s 20s;
}
.lalala:hover{
	opacity: 0;
	transition-duration: 0.5s;
}
.la2{
	opacity: 0;
	position: fixed;
	left: 50%;
	transform:translate(-50%,0);

}

.la2:hover{
	opacity: 1;
	transition-duration: 2s;
}
.dis{
	color: yellow;
	opacity: 1;
	transition: 0.5s,30s;
}
.dis:hover{
	opacity: 0;
	letter-spacing: 10px;
	transition-duration:0.5s;
}
.dis2{
	color:yellow;
	opacity: 1;
	transition:0.5s,0.5s;
}
.dis2:hover{
	opacity: 0;
	transition-duration: 0.5s;
}
.nothing{
	color: yellow;
}