.version.blue /* version checker */
{
	color: #00000B;
	background-color: #85F173;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 499px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u181
{
	z-index: 2;
	width: 53px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 319px;
}

#u115
{
	z-index: 3;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u184
{
	z-index: 5;
	width: 56px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 51px;
}

#u197
{
	z-index: 6;
	width: 82px;
	height: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 160px;
}

#u198
{
	z-index: 7;
	width: 79px;
	height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 256px;
}

#u289
{
	z-index: 8;
	width: 78px;
	height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 548px;
	left: 144px;
}

.ie #u181,.ie #u184,.ie #u197,.ie #u198,.ie #u289
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

