.version.brief /* version checker */
{
	color: #00000D;
	background-color: #4ADF3A;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 499px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u181
{
	z-index: 2;
	width: 53px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 319px;
}

#u127
{
	z-index: 3;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u285
{
	z-index: 5;
	width: 66px;
	height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 453px;
	left: 162px;
}

#u286
{
	z-index: 6;
	height: 120px;
}

#u286-bw
{
	z-index: 6;
	height: 120px;
}

#u287
{
	z-index: 7;
	height: 188px;
}

.ie #u181,.ie #u285,.ie #u286,.ie #u287
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u287-bw
{
	z-index: 7;
	margin-top: 488px;
	height: 188px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

