.version.establish /* version checker */
{
	color: #00000B;
	background-color: #EE3C5C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 499px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u181
{
	z-index: 2;
	width: 53px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 319px;
}

#u229
{
	z-index: 3;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u235
{
	z-index: 5;
	width: 55px;
	height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u321
{
	z-index: 6;
	width: 72px;
	height: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 550px;
	left: 146px;
}

.ie #u181,.ie #u235,.ie #u321
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

