.version.establish_menu /* version checker */
{
	color: #0000E0;
	background-color: #9C57F9;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 499px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u181
{
	z-index: 2;
	width: 53px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 319px;
}

#u296
{
	z-index: 3;
	width: 382px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u315
{
	z-index: 5;
	min-height: 196.6353658536584px;
	background-color: transparent;
	padding: 448px 57px 31.364634146341587px 140px;
}

#pu316
{
	width: 0.01px;
	position: relative;
}

#u316
{
	z-index: 6;
	width: 36px;
	height: 39px;
	position: relative;
	margin-right: -10000px;
}

#u317
{
	z-index: 7;
	width: 39px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 66px;
}

#u318
{
	z-index: 8;
	width: 51px;
	height: 50px;
	margin-left: 117px;
	margin-top: 6px;
	position: relative;
}

#u319
{
	z-index: 9;
	width: 32px;
	height: 37px;
	margin-left: 151px;
	margin-top: 12px;
	position: relative;
}

#u320
{
	z-index: 10;
	width: 43px;
	height: 38px;
	margin-left: 136px;
	margin-top: 15px;
	position: relative;
}

.ie #u181,.ie #u316,.ie #u317,.ie #u318,.ie #u319,.ie #u320
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u315-bw
{
	z-index: 5;
	min-height: 196.6353658536584px;
	margin-top: 11px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

