.version.menu /* version checker */
{
	color: #0000E3;
	background-color: #0361E6;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 499px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u181
{
	z-index: 2;
	width: 53px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 319px;
}

#u169
{
	z-index: 3;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u186
{
	z-index: 5;
	min-height: 233px;
	background-color: transparent;
	padding: 435px 36px 8px 130px;
}

#pu187
{
	width: 0.01px;
	position: relative;
}

#u187
{
	z-index: 6;
	width: 41px;
	height: 44px;
	position: relative;
	margin-right: -10000px;
}

#u188
{
	z-index: 7;
	width: 39px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 77px;
}

#u189
{
	z-index: 8;
	width: 51px;
	height: 50px;
	margin-left: 139px;
	margin-top: 10px;
	position: relative;
}

#u190
{
	z-index: 9;
	width: 39px;
	height: 39px;
	margin-left: 175px;
	margin-top: 24px;
	position: relative;
}

#u191
{
	z-index: 10;
	width: 54px;
	height: 46px;
	margin-left: 150px;
	margin-top: 20px;
	position: relative;
}

.ie #u181,.ie #u187,.ie #u188,.ie #u189,.ie #u190,.ie #u191
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u186-bw
{
	z-index: 5;
	min-height: 233px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

