.version.untitled_3 /* version checker */
{
	color: #00000D;
	background-color: #A7EB43;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1120px;
	min-height: 14512.650958623099px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -136px;
	padding-bottom: 173px;
	width: 0.01px;
}

#pu649
{
	width: 0.01px;
	padding-bottom: 174px;
	margin-left: -100px;
}

#u649
{
	z-index: 237;
	height: 61px;
	-pie-box-shadow: 6px 6px 8px #DAC5C7;
	box-shadow: 6px 6px 8px rgba(182,139,144,0.5);
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
}

#u649-bw
{
	z-index: 237;
}

#u538
{
	z-index: 242;
	width: 668px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: -113px;
	right: 182px;
}

#u546-4
{
	z-index: 243;
	width: 69px;
	min-height: 105px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	-webkit-transform: matrix(0,-1,1,0,-18,87);
	-ms-transform: matrix(0,-1,1,0,-18,87);
	transform: matrix(0,-1,1,0,-18,87);
	margin-bottom: -18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 18px;
}

#u546-4:hover
{
	background-color: #FFA283;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 105px;
	width: 69px;
	margin: 78px -10000px -18px 0px;
}

#u545-4
{
	z-index: 247;
	width: 138px;
	min-height: 58px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	-webkit-transform: matrix(0,-1,1,0,40,98);
	-ms-transform: matrix(0,-1,1,0,40,98);
	transform: matrix(0,-1,1,0,40,98);
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 161px;
}

#u545-4:hover
{
	background-color: #FFA283;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 58px;
	width: 138px;
	margin: 64px -10000px 0px 0px;
}

#u544-4
{
	z-index: 251;
	width: 162px;
	min-height: 53px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	-webkit-transform: matrix(0,-1,1,0,55,107);
	-ms-transform: matrix(0,-1,1,0,55,107);
	transform: matrix(0,-1,1,0,55,107);
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 326px;
}

#u544-4:hover
{
	background-color: #FFA283;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 162px;
	margin: 55px -10000px 0px 0px;
}

#u543-4
{
	z-index: 255;
	width: 118px;
	min-height: 105px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	-webkit-transform: matrix(0,-1,1,0,6,111);
	-ms-transform: matrix(0,-1,1,0,6,111);
	transform: matrix(0,-1,1,0,6,111);
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 557px;
}

#u543-4:hover
{
	background-color: #FFA283;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 105px;
	width: 118px;
	margin: 51px -10000px 0px 0px;
}

#u507
{
	z-index: 241;
	overflow: hidden;
	position: fixed;
	top: 23px;
	left: -461px;
}

#t
{
	margin-left: 282px;
	top: -18px;
	margin-bottom: -18px;
	position: relative;
}

#u647
{
	z-index: 240;
	width: 834px;
	min-height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 176px;
	margin-top: 157px;
	position: relative;
}

#u651
{
	z-index: 259;
	width: 800px;
	min-height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 178px;
	margin-top: 18px;
	position: relative;
}

#u550-6
{
	z-index: 46;
	width: 616px;
	min-height: 18px;
	background-color: transparent;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 246px;
	margin-top: 10px;
	position: relative;
}

#u523
{
	z-index: 52;
	width: 258px;
	height: 4px;
	background-color: #000000;
	margin-left: 416px;
	margin-top: 136px;
	position: relative;
}

#u650
{
	z-index: 217;
	width: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 447px;
	margin-top: 7px;
	position: relative;
}

#b
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u551-4
{
	z-index: 218;
	width: 139px;
	min-height: 30px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#pu653
{
	width: 0.01px;
	margin-left: 118px;
	margin-top: 77px;
}

#u653
{
	z-index: 260;
	width: 398px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u487-13
{
	z-index: 4;
	width: 324px;
	min-height: 125px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#u487-2,#u487-3,#u487-5,#u487-6,#u487-8
{
	font-size: 14px;
}

#u497
{
	z-index: 57;
	width: 258px;
	height: 4px;
	background-color: #000000;
	margin-left: 416px;
	margin-top: 588px;
	position: relative;
}

#pr
{
	width: 0.01px;
	margin-left: 367px;
	margin-top: 7px;
}

#u511-4
{
	z-index: 53;
	width: 139px;
	min-height: 30px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 112px;
}

#u571-5
{
	z-index: 17;
	width: 202px;
	min-height: 18px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	margin-left: 444px;
	margin-top: 66px;
	position: relative;
}

#u491
{
	z-index: 26;
	width: 621px;
	background-color: transparent;
	margin-left: 245px;
	margin-top: 36px;
	position: relative;
}

#u570-4
{
	z-index: 58;
	width: 119px;
	min-height: 15px;
	background-color: transparent;
	margin-left: 738px;
	margin-top: 15px;
	position: relative;
}

#u548
{
	z-index: 22;
	width: 655px;
	background-color: transparent;
	margin-left: 228px;
	margin-top: 30px;
	position: relative;
}

#u552-4
{
	z-index: 38;
	width: 257px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 627px;
	margin-top: 11px;
	position: relative;
}

#u530
{
	z-index: 24;
	width: 704px;
	background-color: transparent;
	margin-left: 208px;
	margin-top: 13px;
	position: relative;
}

#u564-4
{
	z-index: 62;
	width: 87px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 797px;
	margin-top: 11px;
	position: relative;
}

#u547-30
{
	z-index: 66;
	width: 676px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 208px;
	margin-top: 11px;
	position: relative;
}

#u547-10
{
	text-decoration: underline;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u547-11,#u547-14
{
	text-decoration: underline;
}

#u547,#u547-3,#u547-4,#u547-6,#u547-7,#u547-9,#u547-12,#u547-13,#u547-15,#u547-17,#u547-19,#u547-21,#u547-23,#u547-25,#u547-26,#u547-27
{
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u535-5
{
	z-index: 28;
	width: 180px;
	min-height: 18px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	margin-left: 466px;
	margin-top: 102px;
	position: relative;
}

#pp
{
	width: 0.01px;
	margin-left: 129px;
	margin-top: 42px;
}

#p
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 203px;
}

#u630
{
	z-index: 233;
	width: 861px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu629-7
{
	width: 0.01px;
	margin-left: 129px;
	margin-top: 51px;
}

#u629-7
{
	z-index: 226;
	width: 861px;
	min-height: 197px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u636
{
	z-index: 235;
	width: 519px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 181px;
}

#u659-4
{
	z-index: 262;
	width: 349px;
	min-height: 26px;
	background-color: transparent;
	margin-left: 380px;
	margin-top: 28px;
	position: relative;
}

#u490
{
	z-index: 100;
	width: 258px;
	height: 4px;
	background-color: #000000;
	margin-left: 426px;
	margin-top: 194px;
	position: relative;
}

#u480-4
{
	z-index: 96;
	width: 394px;
	min-height: 30px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	margin-left: 399px;
	margin-top: 7px;
	position: relative;
}

#u522-5
{
	z-index: 33;
	width: 180px;
	min-height: 18px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	margin-left: 499px;
	margin-top: 38px;
	position: relative;
}

#u519-4
{
	z-index: 201;
	width: 200px;
	background-color: transparent;
	margin-left: 460px;
	margin-top: 17px;
	position: relative;
}

#u642
{
	z-index: 238;
	width: 469px;
	background-color: transparent;
	margin-left: 335px;
	margin-top: 54px;
	position: relative;
}

#u513
{
	z-index: 2;
	width: 522px;
	background-color: transparent;
	margin-left: 299px;
	margin-top: 88px;
	position: relative;
}

#u554-5
{
	z-index: 205;
	width: 180px;
	min-height: 18px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	margin-left: 491px;
	margin-top: 138px;
	position: relative;
}

#pu501
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 25px;
}

#u501
{
	z-index: 103;
	width: 369px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u495
{
	z-index: 101;
	width: 534px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 369px;
}

#u512-4
{
	z-index: 105;
	width: 195px;
	min-height: 15px;
	background-color: transparent;
	margin-left: 795px;
	margin-top: 2169px;
	position: relative;
}

#u524
{
	z-index: 109;
	width: 306px;
	background-color: transparent;
	margin-left: 407px;
	margin-top: 39px;
	position: relative;
}

#u555-4
{
	z-index: 111;
	width: 77px;
	min-height: 15px;
	background-color: transparent;
	margin-left: 644px;
	position: relative;
}

#pu565
{
	width: 0.01px;
	margin-left: 222px;
	margin-top: 77px;
}

#u565
{
	z-index: 115;
	width: 343px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u576
{
	z-index: 117;
	width: 333px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 343px;
}

#pu493
{
	width: 0.01px;
	margin-left: 222px;
	margin-top: -6px;
}

#u493
{
	z-index: 119;
	width: 340px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u505
{
	z-index: 121;
	width: 340px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u517-4
{
	z-index: 123;
	width: 77px;
	min-height: 15px;
	background-color: transparent;
	margin-left: 820px;
	position: relative;
}

#u660
{
	z-index: 266;
	width: 674px;
	background-color: transparent;
	margin-left: 224px;
	margin-top: 138px;
	position: relative;
}

#u532-4
{
	z-index: 127;
	width: 53px;
	min-height: 15px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 844px;
	margin-top: 10px;
	position: relative;
}

#u553-5
{
	z-index: 131;
	width: 272px;
	min-height: 15px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 147px;
	margin-top: 84px;
	position: relative;
}

#u563-14
{
	z-index: 141;
	width: 742px;
	min-height: 131px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 206px;
	margin-top: 10px;
	position: relative;
}

#u557-5
{
	z-index: 136;
	width: 290px;
	min-height: 15px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 142px;
	margin-top: 38px;
	position: relative;
}

#u575-22
{
	z-index: 155;
	width: 742px;
	min-height: 138px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 206px;
	margin-top: 16px;
	position: relative;
}

#u563-12 > li:before,#u575-3 > li:before,#u575-17 > li:before
{
	content: '○';
}

#ph
{
	width: 0.01px;
	margin-left: 355px;
	margin-top: 295px;
}

#r,#h
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u486
{
	z-index: 181;
	width: 258px;
	height: 4px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 77px;
}

#u579-4
{
	z-index: 177;
	width: 191px;
	min-height: 30px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	margin-left: 467px;
	margin-top: 17px;
	position: relative;
}

#u558-6
{
	z-index: 210;
	width: 123px;
	min-height: 49px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 499px;
	margin-top: 30px;
	position: relative;
}

#pu515
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 65px;
}

#u515
{
	z-index: 189;
	width: 616px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u498
{
	z-index: 193;
	width: 616px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 704px;
}

#pu509
{
	width: 0.01px;
	margin-left: -110px;
	margin-top: 87px;
}

#u509
{
	z-index: 191;
	width: 626px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u520
{
	z-index: 195;
	width: 616px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 714px;
}

#u503
{
	z-index: 187;
	width: 1320px;
	background-color: transparent;
	left: -100px;
	margin-top: 217px;
	position: relative;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 87px;
}

#u561
{
	z-index: 42;
	width: 616px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u573
{
	z-index: 44;
	width: 617px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 704px;
}

#u481
{
	z-index: 182;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 48px;
}

#u537-4
{
	z-index: 197;
	width: 167px;
	min-height: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 249px;
	left: 606px;
}

#u500-4
{
	z-index: 183;
	width: 149px;
	min-height: 28px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 485px;
	top: -332px;
	margin-bottom: -28px;
	position: relative;
}

#u500
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

body
{
	position: relative;
	min-width: 1120px;
	padding-top: 23px;
	padding-bottom: 41px;
}

#page .verticalspacer
{
	clear: both;
}

