.version.index /* version checker */
{
	color: #0000EE;
	background-color: #7CB977;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 258px;
	min-height: 62px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 81px 514px 983px 188px;
}

#slideshowu257
{
	z-index: 2;
	width: 0.01px;
	height: 62px;
	position: relative;
}

#u261
{
	position: absolute;
	width: 651px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 92px;
	left: -33px;
	-pie-background: rgba(0,0,0,0.9);
}

#u261popup
{
	z-index: 3;
}

#u266
{
	z-index: 4;
	width: 607px;
	height: 588px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u266_img
{
	margin: 16px 97px -13px 96px;
}

#u329
{
	z-index: 6;
	width: 607px;
	height: 588px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u329_img
{
	margin: 13px 96px -13px;
}

#u338
{
	z-index: 8;
	width: 607px;
	height: 588px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u338_img
{
	margin: -21px 65px -21px 95px;
}

#u347
{
	z-index: 10;
	width: 607px;
	height: 588px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u266_clip,#u329_clip,#u338_clip,#u347_clip
{
	overflow: hidden;
	width: 607px;
	height: 588px;
}

#u347_img
{
	margin-left: 96px;
	margin-right: 83px;
	margin-bottom: -17px;
}

#u275
{
	position: absolute;
	width: 258px;
}

#u275popup
{
	z-index: 12;
}

#u280
{
	z-index: 13;
	width: 48px;
	height: 62px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u332
{
	z-index: 15;
	width: 48px;
	height: 62px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u341
{
	z-index: 17;
	width: 48px;
	height: 62px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u350
{
	z-index: 19;
	width: 48px;
	height: 62px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u280:hover,#u332:hover,#u341:hover,#u350:hover
{
	border-style: none;
	border-color: #FFFFFF;
	width: 48px;
	height: 62px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u280_clip,#u332_clip,#u341_clip,#u350_clip
{
	overflow: hidden;
	width: 48px;
	height: 62px;
}

#u280_img,#u332_img,#u341_img,#u350_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u268
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 839px;
}

#u268popup
{
	z-index: 21;
}

#u269-8
{
	z-index: 22;
	width: 340px;
	min-height: 76px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u335-8
{
	z-index: 30;
	width: 340px;
	min-height: 76px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u344-8
{
	z-index: 38;
	width: 340px;
	min-height: 76px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u353-8
{
	z-index: 46;
	width: 340px;
	min-height: 76px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u259-12
{
	position: absolute;
	width: 28px;
	min-height: 650px;
	background-color: #FFFFFF;
	color: #120100;
	font-size: 24px;
	text-align: center;
	line-height: 34px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 92px;
}

#u259-12popup
{
	z-index: 54;
}

#u282-4
{
	position: absolute;
	width: 38px;
	min-height: 34px;
	background-color: #FFFFFF;
	color: #120100;
	font-size: 24px;
	text-align: center;
	line-height: 34px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 773px;
	left: 559px;
}

#u282-4popup
{
	z-index: 66;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 80px;
}

#page .verticalspacer
{
	clear: both;
}

