#u546-4
{
	font-family: open-sans-n6, sans-serif;
}

#u545-4
{
	font-family: open-sans-n6, sans-serif;
}

#u544-4
{
	font-family: open-sans-n6, sans-serif;
}

#u543-4
{
	font-family: open-sans-n6, sans-serif;
}

#u551-4,#u511-4,#u571-5,#u535-5,#u480-4,#u522-5,#u554-5,#u579-4
{
	font-family: open-sans-i6, sans-serif;
}

#u550-6,#u547,#u547-3,#u547-4,#u547-6,#u547-7,#u547-9,#u547-10,#u547-12,#u547-13,#u547-15,#u547-17,#u547-19,#u547-21,#u547-23,#u547-25,#u547-26,#u547-27,#u532-4,#u553-5,#u563-14,#u557-5,#u575-22,#u558-6,#u500-4,#u500
{
	font-family: open-sans-n4, sans-serif;
}

