body{
	background-color: black;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.left{
	position: fixed;
	left: 0px;
	text-align: left;
	font-size: 30px;
	background-color: black;
	color: #fc05ae;
}
.leftmenu2{
	visibility: hidden;
}

.leftmenu:hover>.l;eftmenu2{
	visibility: visible;
}
a{
	text-decoration: none;
	color: #fc05ae;
}
a[title]:hover:after{
  content: attr(title);
  position:absolute;
  background-color: #fc05ae;
  font-size: 10px;
  color: white;
  text-decoration: none;
}

a.next[title]:hover:after{
  right: 50px;
}

a.previous[title]:hover:after{
  left: 50px;
}

.all{
	text-align: center;
}

.heading{
	margin-top: 5%;
	float: top;
}
.fonts1{
	transition: 1s,10s;
	font-size: 25px;
}
.fonts1:hover{
	background-color: #fc05ae;
	letter-spacing: 8px;
	color: white;
	opacity: 1;
	transition-duration: 0.5s;
}
.fonts{		
	transition: 1s,10s;
	opacity: 0.8;
}
.fonts:hover{
	background-color: #fc05ae;
	letter-spacing: 8px;
	color: white;
	transition-duration: 0.5s;
	opacity: 1;
}
.images{
	margin: 0 auto;
	margin-top: 6%;
	width: 1000px;
	height: 400px;
	border-color: white;
	border-width: 1px;
	position: relative;
}
.image1{
	height: 180px;
	width: 200px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
}

.image1 img{
	opacity: 0.7;
	-webkit-transition:all 1s ease;
}

.image1:hover image{
	-webkit-transform:scale(1.25);
	-ms-transform:scale(1.25);
	transform: scale(1.25);
	opacity: 1;
	transition-duration: 0.4s;
}

.imagelink:hover img{
	opacity: 0;
	transition-duration: 0.5s;
}